services:
  frontend:
    build:
      context: ./
      dockerfile: Dockerfile
      cache_from:
        - node:20-alpine
    ports:
      - "3000:3000"
      - "80:9002"
    environment:
      - NODE_ENV=development
      - COMPOSE_BAKE=true
      - DOCKER_BUILDKIT=1
      - NEXT_PUBLIC_API_BASE_URL=http://192.168.1.110:8080
      - REACT_APP_API_URL=http://192.168.1.110:8080
    volumes:
      - .:/app
      - /app/node_modules
    restart: unless-stopped
  backend:
    build:
      context: ../../Go/project_r
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - DATABASE_URL=root:databasePassword@tcp(mysql:3306)/radio?parseTime=true
      - LOG_LEVEL=debug
      - PORT=8080
      - REDIS_ADDR=redis:6379
      - REDIS_PASSWORD=databasePassword
      - FORCE_CACHE=false
      - CACHE_EXPIRE_HOURS=0
      - JWT_SECRET=supersecretteststring
      - COMPOSE_BAKE=true
    depends_on:
      - mysql
      - redis
    restart: unless-stopped
    volumes:
      - ./uploads:/app/uploads
    entrypoint: ["sh", "-c", "until nc -z mysql 3306; do sleep 1; done; until nc -z redis 6379; do sleep 1; done; exec ./server"]
  mysql:
    image: mysql:8.4
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: databasePassword
      MYSQL_DATABASE: radio
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    ports:
      - 8081:80
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: databasePassword
    depends_on:
      - mysql

  redis:
    image: redis:7.2
    restart: unless-stopped
    ports:
      - "6379:6379"
    environment:
      - REDIS_PASSWORD=databasePassword
    command: ["redis-server", "--requirepass", "databasePassword"]
    volumes:
      - redis_data:/data

volumes:
  mysql_data:
  redis_data: